// vendor styles
@import "vendor/normalize/_normalize.scss";
@import "vendor/bootstrap/stylesheets/_bootstrap.scss";
@import "vendor/font-awesome/scss/font-awesome.scss";

// app styles
@import "_theme";

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(../asset/img/damask-wall.jpg);
  background-repeat: repeat;
}

main, .home, .about, .projects {

  width: 90%;
  height: 100%;
  margin: 0 auto;

  div {
    width: 100%;
    background-color: $app-background;
  }
}

@media (max-width: 768px) {
  main, .home, .about, .projects {
    width: 100%;
    height: 100%;
  }
}
