@import '_theme';

.app-ham {

  .fa-bars {
    margin-top: 1em;
    color: $app-green;
    z-index: 100;
    font-size: 4em;
  }

  .menu {
    position: fixed;
    display: inline-block;
    top: 11em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    background: $app-background;
    z-index: 99;
    box-shadow: 0px 7px 10px -2px rgba(0,0,0,0.6);

    ul {
      width: 100%;
      margin-top: 20%;
      padding: 1em;
      text-align: center;
      list-style-type: none;

      li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 10vw;
        margin-bottom: 25%;

        a {
          color: $app-brown;
        }
        a:hover {
          color: $app-green;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .app-ham {
    .fa-bars {
      margin: 0.6em auto;
      font-size: 3.5em;
    }

    .menu {
      top: 9em;
    }
  }
}
