@import "_theme";

.about {

  p {
    margin-bottom: 1.2em;
    text-align: justify;
    font-size: 1.4em;
  }
  .opening {
    margin: 1em;
    font-family: cursive;
    text-align: center;
    font-style: italic;
    font-size: 2.5em;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;

    .fa {
      font-size: 4em;
    }
  }
}
