<main class="about">
  <div class="container">
    <app-nav></app-nav>
    <p class="opening">A curious mind, an eye for design, a penchant for technology.</p>
    <p>It all started at a young age, when I would put all my thoughts and feelings onto paper, using any writing utensil I could find. Things quickly went digital with the introduction of Microsoft Paint on the family PC. Then in my teen years, my interest in graphic design was piqued after having discovered Photoshop and HTML. Now, my love for design and technology have come together to form a rising career in full-stack web development and software engineering. </p>
    <p>My projects and work reflect my passion for minimalist, aesthetic design that makes app navigation productive and stress-free. No interface should ever leave me guessing, and I expect the same in all the apps I create.</p>
    <p>You may find me hitting the slopes in the winter, practicing my limited parkour skills year-round, or drawing in my sketchbook at home.</p>

    <p class="email">Send me an email at: cortney.d.drummond at gmail dot com</p>

    <div class="social-icons">
      <i class="fa fa-github" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </div>
  </div>
</main>
