<main class="about">
  <div class="container">
    <app-nav></app-nav>
    <h1>About Cortney</h1>
    <p class="opening">A curious mind, an eye for design, a penchant for technology.</p>
    <p>It all started at a young age, drawing all my thoughts and feelings onto scraps of paper, using any writing utensil I could find. My creations quickly went digital as I was introduced to Microsoft Paint on the family PC, and got more advanced several years later with Photoshop and HTML. From there, I turned my love for art and technology into a hobby in graphic design, and now, a rising career in full-stack web development and software engineering. </p>
    <p>My projects and work reflect my passion for minimalist, aesthetic design that makes app navigation productive and stress-free. No interface should ever leave me guessing, and I expect the same in all the apps I create.</p>
    <p>You may find me hitting the slopes in the winter, practicing my limited parkour skills year-round, or drawing in my sketchbook at home.</p>

    <p class="email">Send me an email at: cortney.d.drummond at gmail dot com</p>

    <div class="social-icons">
      <a title="GitHub" target="blank" href="http://www.github.com/cdl124">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a title="LinkedIn" target="blank" href="http://www.linkedin.com/in/cortneydrummond">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a title="Twitter" target="blank" href="http://www.twitter.com/cortdrum">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</main>
