@import '_theme';

.app-nav {
  width: 100%;
  background-color: $app-light;
  box-shadow: 0px 7px 10px -2px rgba(0,0,0,0.6);

  .container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  }

  .logo {
    max-width: 90%;
    margin: 0.5em 0 0.5em 0;
    font-size: 2em;
  }

  .ham {
    display: none;
  }

  .navlist {
    margin: 0.5em 0.5em 0.5em 0.5em;

    li {
      margin: 1em;
      max-width: 100%;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-size: 2.5em;
      font-weight: 700;
      list-style: none;

      a {
        color: $app-green;
      }
      a:hover {
        color: $app-brown;
      }
    }
  }

  .navlist, li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

@media only screen and (max-width: 768px) {
  .app-nav {

    .logo {
      max-width: 90%;
    }

    .ham, .logo {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .navlist {
      display: none;
    }
  }
}

@media (max-width: 360px) {
  .app-nav {
    a {
      margin-top: 0.5em;
    }
  }
}
