<nav class="app-nav navbar">

  <div class="logo-and-ham">
    <a href="#/home">
      <img title="cortney drummond"
      class="logo"
      src="../../asset/img/placeholder.svg">
    </a>

    <app-ham> </app-ham>
  </div>

<div class="logo-and-list">
  
  <a href="#/home">
    <img title="cortney drummond"
    class="logo"
    src="../../asset/img/placeholder.svg">
  </a>

  <ul>
    <li class="projects">
      <a href="#/projects">
        projects
    </a>
   </li>

   <li class="about">
     <a href="#/about">
       about
    </a>
   </li>

  </ul>

</nav>
