<nav class="app-nav navbar">

<!-- Mobile nav -->
  <div class="logo-and-ham">
    <a title="Home" href="#/home">
      <img class="logo" src="../../asset/img/logo.svg" />
    </a>

    <app-ham> </app-ham>
  </div>

<!-- Desktop nav -->
<div class="logo-and-list">

  <a title="Home" href="#/home">
    <img class="logo" src="../../asset/img/logo.svg" />
  </a>

  <ul>
    <li class="projects">
      <a title="Projects" href="#/projects">
        projects
    </a>
   </li>

   <li class="about">
     <a title="About" href="#/about">
       about
    </a>
   </li>

  </ul>

</nav>
