@import "_theme";

.projects {

  overflow: scroll;

  .cover {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10em;
    }

    .cover:hover {
      transition: 0.5s linear all;
      opacity: 0;
    }

    .shapesnstuff-text, .restaurants-text, .ramble-text {
      position: relative;
      display: inline-block;
      margin-top: 2em;
      height: 10em;
      width: 100%;
    }

  .shapesnstuff {
    background-color: #FFEBCA;

    .sns-logo {
      text-align: center;
      font-family: 'Oleo Script', cursive;
      letter-spacing: -0.05em;
      font-size: 6em;
      color: #1AB58A;
      text-shadow: -3px 1px #FF2151;

    }
  }

  .restaurants {
    background-color: #F2E1AC;

    .rf-logo {
      color: #CD2C24;
      text-align: center;
      font-family: 'Lobster', cursive;
      letter-spacing: -2.7px;
      font-size: 6em;
    }
  }

  .ramble {
    background-color: beige;

    .ramble-logo {
      color: violet;
      text-align: center;
      font-size: 6em;
    }
  }

  .fade.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
  }

  .fade.ng-enter.ng-enter-active {
    opacity: 0;
  }
}
