@import "_theme";

.projects {

  overflow: scroll;

  .row {
    margin: auto;
  }

  .cover {
    margin: auto;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 20%;
    }
    //
    // .cover:hover {
    //   transition: 0.5s linear all;
    //   opacity: 0;
    // }
    //
    // .cover:not(:hover) {
    //   transition: 0.5s linear all;
    //   opacity: 1;
    // }

/* Shapesnstuff */

    .shapesnstuff-text, .restaurants-text, .ramble-text {
      position: relative;
      margin-top: 2em;
      height: 20%;
      width: 100%;
    }

    .shapesnstuff {
    background-color: #FFEBCA;

    .sns-logo {
      text-align: center;
      font-family: 'Oleo Script', cursive;
      letter-spacing: -0.05em;
      font-size: 6em;
      color: #1AB58A;
      text-shadow: -3px 1px #FF2151;
    }
  }

/* Restaurant Finder */

  .restaurants {
    background-color: #F2E1AC;

    .rf-logo {
      color: #CD2C24;
      text-align: center;
      font-family: 'Lobster', cursive;
      letter-spacing: -2.7px;
      font-size: 6em;
    }
  }

/* Ramble */
  .ramble {
    background-color: beige;

    .ramble-logo {
      color: violet;
      text-align: center;
      font-family: 'Arial', sans-serif;
      font-size: 6em;
    }
  }
}
