<main class="projects">
  <div class="container">

    <app-nav></app-nav>

    <h1>Projects</h1>


    <div class="shapesnstuff-text">
      <p class="desc">Shapesnstuff is a colorful, responsive art canvas that uses EaselJS for the canvas, CSS3 and jQuery for a vivid user experience, NodeJS and Express library for back-end operations, and AWS S3 to store and display user-saved artwork.</p>
      <p class="tools">AWS S3, Node.js, ExpressJS, EaselJS, jQuery, JavaScript, HTML5, CSS3</p>
      <p class="link">
        Click to take a look!
      </p>
      <a target="blank" href="https://github.com/cdl124/DrawingCanvasProject">
      <div class="shapesnstuff cover fade">
        <h2 class="sns-logo">Shapesnstuff</h2>
      </div>
    </a>
    </div>


    <div class="restaurants-text">
      <p class="desc">The Code Fellows Restaurant Finder helps fellow Code Fellows students find a place to eat near the school.</p>
      <p class="tools">Node.js, ExpressJS, Google Maps API, JavaScript, HTML5, CSS3</p>
      <p class="link">
        Click to take a look!
      </p>
      <a target="blank" href="https://github.com/cdl124/restaurants-project">
        <div class="restaurants cover fade">
          <h2 class="rf-logo">Restaurant Finder</h2>
        </div>
      </a>
    </div>

    <div class="ramble-text">
      <p class="desc">Ramble is a clean, simple private journal app where you can Write What You Like! I worked on the back-end of this project, writing the tests against the controllers.</p>
      <p class="tools">Node.js, Mocha/Chai, BCrypt, JavaScript</p>
      <p class="link">
        Click to take a look!
      </p>
      <a target="blank" href="https://github.com/ascasson/ramble-app">
        <div class="ramble cover fade">
          <h2 class="ramble-logo">ramble</h2>
        </div>
      </a>
    </div>

  </div>
</main>
