<main class="projects">
  <div class="container">

    <app-nav></app-nav>

    <h1>Projects I've Worked On</h1>

    <div class="row">
      <div class="shapesnstuff cover col-lg-6">
        <a target="blank" href="https://github.com/cdl124/DrawingCanvasProject">
          <h2 class="sns-logo pjt-logo">Shapesnstuff</h2>
        </a>
      </div>
      <div class="shapesnstuff-text col-lg-6">
        <p class="desc">Shapesnstuff is a colorful, responsive art canvas that lets users save their masterpieces to a gallery for all visitors to view.</p>
        <p class="tools">AWS S3, Node.js, ExpressJS, EaselJS, jQuery, JavaScript, HTML5, CSS3</p>
      </div>
    </div>

<div class="row">
    <div class="restaurants cover col-lg-6">
      <a target="blank" href="https://github.com/cdl124/restaurants-project">
      <h2 class="rf-logo pjt-logo">Restaurant Finder</h2>
        </a>
    </div>
    <div class="restaurants-text col-lg-6">
      <p class="desc">The Code Fellows Restaurant Finder helps Code Fellows students find a place to eat near the school, with a form to narrow down search results, and an interactive map to visualize the locations.</p>
      <p class="tools">Node.js, ExpressJS, Google Maps API, JavaScript, HTML5, CSS3</p>
    </div>
  </div>

<div class="row">
    <div class="ramble cover col-lg-6">
      <a target="blank" href="https://github.com/ascasson/ramble-app">
        <h2 class="ramble-logo pjt-logo">Ramble</h2>
      </a>
    </div>
    <div class="ramble-text col-lg-6">
      <p class="desc">Ramble is a clean, straightforward journal app that provides a safe, private space for writers to simply write what they like. I worked on the back-end of this project, writing the tests against the controllers. Check out <a href="http://www.ramblewriting.com">ramblewriting.com</a>, keep calm, and ramble on!</p>
      <p class="tools">Node.js, Mocha/Chai, BCrypt, JavaScript</p>

    </div>
    <div class="row">
        <div class="cwebs cover col-lg-6">
          <a target="blank" href="https://www.companycasuals.com/fancypants">
            <h2 class="cweb-logo">Various </h2>
          </a>
          <a target="blank" href="https://www.companycasuals.com/tenableholiday2015">
            <h2 class="cweb-logo">custom </h2>
          </a>
          <a target="blank" href="https://www.companycasuals.com/sevenhillsschool">
            <h2 class="cweb-logo">website </h2>
          </a>
          <a target="blank" href="https://www.companycasuals.com/esuranceapparel">
            <h2 class="cweb-logo">beautification </h2>
          </a>
          <a target="blank" href="https://www.companycasuals.com/fancypants">
            <h2 class="cweb-logo">projects</h2>
          </a>
        </div>
        <div class="cweb-text col-lg-6">
          <p class="desc">Believe it or not, I work pretty extensively with HTML and CSS in my current tech support position! My company provides a plethora of marketing tools to help our customers grow their business and promote our products, and our free custom website tool is rapidly increasing in popularity. While our pre-made templates work fine for most, some end-users need a little extra TLC to make their online storefront stand out. This is where the Customer Tech Support team steps in, and we use our HTML, CSS, Photoshop, and graphic design chops to make a website that our customer will be proud to present to their end-user.</p>
          <p class="desc">Click on any of the words above to view the different CSS projects I've completed for customers over the years. Each of these websites had CSS applied to override facets of <a target="blank" href="https://www.companycasuals.com/bubbles">this specific pre-made template.</a></p>
          <p class="tools">HTML, CSS, Photoshop CS6</p>

        </div>
  </div>

  </div>
</main>
